h1{
  text-align: center;
}

.box{
  text-align: center;
  padding: 3%;
}

.box input{
  padding: 10px;
  width: 30%;
  margin-bottom: 5%;
}

.conteiner{
  display: flex;
  padding-left: 31%;
}
.button a{
  text-decoration: none;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  padding: 15px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
  border-radius: 100vh;
}